.container {
  max-width: 700px;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  border-bottom: 1px solid #eee;
  padding-bottom: 2px;
  margin-bottom: 24px;

  a {
    padding: 4px 8px;
    color: #777;
  }

  a:hover {
    color: #0070f3;
  }
}

.backToHome {
  margin: 3rem 0 0;
}
